@import url('https://fonts.googleapis.com/css2?family=Karma&display=swap');

header div .column {
    float: left;
    width: 33.33%;
}
  
  /* Clear floats after the columns */
 header div .row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
  float: left;
  width: 50%;

}

#wish {
  color: #2f5d62;
}

#work {
  color: #2f5d62;
}

#edu {
  color: #2f5d62;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

main section {
  font-size: 18px;
}

main section .column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
main section .row:after {
  content: "";
  display: table;
  clear: both;
}

body {
    width: 960px;
    margin: auto;
    background-color: #f4eeff;
    text-decoration: none;
}

#p3 {
  text-align: center;
}

header {
  /* background-color: #413c69; */
  background-color: #383e56;
 
}
.column img {
    display: block;
    width: 140px;
    margin: auto;
}

header nav {
    padding-top: 50px;
    text-align: center;
}

main h2 { 
    text-align: left;
    color: #413c69;
}
p {
  color: #111;
  font-style: normal;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

footer {
    text-align: center;
    margin-bottom: 30px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }

  .myFace:hover{
    opacity: 0.7;
  }
  .tMi:hover{
    opacity: 0.7;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-google {
    background: #424642;
    color: white;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
 